@font-face {
	font-family: 'HammersmithOne-Regular';
	src: url('../font/HammersmithOne-Regular.eot');
	src: local('HammersmithOne-Regular'), url('../font/HammersmithOne-Regular.woff') format('woff'),
  url('../font/HammersmithOne-Regular.ttf') format('truetype'),
  url('../font/HammersmithOne-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
